* {
  font-family: 'Cassiopeia';
  color: white;
}

:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;


  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

@font-face {
  font-family: 'Cassiopeia'; /* 원하는 폰트 이름 설정 */
  src: url('../font/AaCassiopeia.ttf') format('truetype'); /* 폰트 파일 경로 설정 */
  font-weight: normal; /* 폰트 두께 설정 */
  font-style: normal; /* 폰트 스타일 설정 */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

/* * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
} */

html,
body {
  width: 1024px;
  height: 768px;
  /* min-width: 100px; */
  min-height: 768px;
  border: 1px solid white;
  margin: auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

body {
  /* color: rgb(var(--foreground-rgb)); */
  color: white;
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.main {
  flex: 1;
  display: flex;
  background-color: black;
  align-items: center;
  justify-content: center;
  height: 726px;
}

.friendList,
.chattingList {
  position: relative;
  width: 100px;
  height: 40px;
  flex-shrink: 0;
}
.friendList {
  display: flex;
  align-items: center;
  justify-content: center;
}
.chattingList {
  color: var(--color-white);
}
.frinedAndChatNav,
  .chattingList,
  .inner,
  .parent {
    display: flex;
    align-items: center;
    align-items: center;
    justify-content: center;
  }
  .parent {
    flex-direction: row;
    gap: var(--gap-3xs);
  }
.frinedAndChatNav,
.inner {
  flex-direction: column;
}
.frinedAndChatNav {
  width: 240px;
  flex-direction: row;
}
.frinedNickname {
  position: relative;
  display: flex;
  align-items: center;
  width: 120px;
  height: 32px;
  flex-shrink: 0;
}
.friendNicknamePadding {
  flex-direction: row;
  padding: var(--padding-9xs);
  text-align: left;
}
.friendNicknamePadding,
.div12,
.div13 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.div13 {
  position: relative;
  width: 40px;
  height: 32px;
  flex-shrink: 0;
}
.div12 {
  flex-direction: row;
  padding: var(--padding-9xs) var(--padding-11xs);
  color: #00a41a;
}
.div15 {
  position: relative;
}
.div14,
.div7 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.div14 {
  padding: var(--padding-9xs);
  color: var(--color-firebrick);
}
.div7 {
  background-color: #04017b;
}
.div21 {
  padding: var(--padding-9xs) var(--padding-11xs);
  color: var(--color-gray-100);
}
.div16,
.div21 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.rightList {
  height: 640px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  color: var(--color-white);
}
.addFriendBtn,
.addFriendText,
.rightList {
  width: 240px;
  display: flex;
}
.addFriendBtn,
.addFriendText {
  height: 40px;
  align-items: center;
  justify-content: center;
}
.addFriendText {
  position: relative;
  flex-shrink: 0;
}
.addFriendBtn {
  flex-direction: row;
  cursor: pointer;
  color: #5498ef;
}
.rightSide {
  /* border: 1px solid white; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 260px;
  color: #feba01;
}
.leftSideBtn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 40px;
  flex-shrink: 0;
}
.wrapper {
  cursor: pointer;
}
.container,
.wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.leftSideList {
  top: 28px;
  left: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}

.leftSide {
  border: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 260px;
  height: 726px;
  font-size: 24px;
}
.image-5-icon {
  position: relative;
  width: 30px;
  height: 30px;
  object-fit: cover;
  display: none;
}
.profileIcon,
.nickName {
  display: flex;
  align-items: right;
  justify-content: right;
}
.profileIcon {
  background-color: var(--color-white);
  flex-direction: row;
}
.nickName {
  position: relative;
  width: 140px;
  height: 32px;
  flex-shrink: 0;
}

.profile {
  top: 5px;
  left: 854px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.topNav {
  background-color: black;
  border: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  height: 42px;
  color: #a0a0a0;
}

.div129,
.wrapper3 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.div129 {
  position: absolute;
  width: 120px;
  height: 40px;
  flex-shrink: 0;
}
.wrapper3 {
  top: calc(50% - 19.5px);
  left: calc(50% - 60.5px);
  border: 1px solid var(--color-black);
  flex-direction: row;
  cursor: pointer;
}


.div130 {
  top: 44px;
  left: 1015px;
  border-radius: 4px;
  background-color: #d9d9d9;
  width: 6px;
  height: 722px;
  display: none;
}
.div131,
.x {
  align-items: center;
  justify-content: center;
}
.x {
  position: relative;
  display: flex;
  width: 19px;
  height: 9px;
  flex-shrink: 0;
}
.div131 {
  position: absolute;
  top: 2px;
  left: 207px;
  background-color: var(--color-black);
  border: 1px solid var(--color-white);
  box-sizing: border-box;
  width: 11px;
}
.div131,
.div134,
.parent1 {
  display: flex;
  flex-direction: row;
}
.div134 {
  align-items: center;
  justify-content: center;
  padding: var(--padding-9xs);
}
.parent1 {
  background-color: var(--color-darkslategray-100);
  border-bottom: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 196px;
  align-items: flex-start;
  justify-content: flex-start;
}
.div136 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 105px;
  height: 22px;
  flex-shrink: 0;
}
.div136,
.div138,
.div139 {
  position: relative;
}
.div138 {
  display: flex;
  align-items: center;
  width: 183px;
}
.div139 {
  width: 182px;
}
.div137,
.div139,
.div141 {
  display: flex;
  align-items: center;
}
.div137 {
  background-color: #414141;
  width: 183px;
  flex-direction: column;
  justify-content: center;
  gap: var(--gap-3xs);
  text-align: left;
}
.div141 {
  position: relative;
  width: 148px;
}
.div140,
.parent2 {
  width: 183px;
  display: flex;
  flex-direction: column;
}
.div140 {
  background-color: var(--color-gray-200);
  align-items: center;
  justify-content: center;
  text-align: right;
}
.parent2 {
  position: absolute;
  top: 5px;
  left: 4px;
  height: 240px;
  align-items: flex-end;
  justify-content: flex-end;
  gap: var(--gap-3xs);
}
.group-child,
.group-item {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #4a4a4a;
  width: 5px;
  height: 253px;
}
.group-item {
  top: 222.64px;
  background-color: #b1b1b1;
  height: 30.36px;
}
.rectangle-parent {
  position: absolute;
  top: 0;
  left: 191px;
  width: 5px;
  height: 253px;
}
.frame-group {
  position: relative;
  background-color: var(--color-darkslategray-100);
  width: 196px;
  height: 253px;
  overflow: hidden;
  flex-shrink: 0;
  text-align: center;
  font-size: var(--font-size-base);
  font-family: var(--font-aacassiopeia);
}
.frame-parent {
  position: absolute;
  top: calc(50% - 144px);
  left: calc(50% - 98px);
  width: 196px;
  height: 293px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  font-size: var(--font-size-xl);
}
.frame,
.Chat {
  overflow: hidden;
}
.Chat {
  position: absolute;
  top: 452px;
  left: 544px;
  background-color: var(--color-gray-200);
  border: 1px solid var(--color-white);
  box-sizing: border-box;
  width: 220px;
  height: 316px;
  font-size: 8px;
}
.frame {
  position: absolute;
  background-color: gray;
  width: 1024px;
  height: 768px;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-noto-sans-kr);
}

.Canvas {
  position: relative;

}

canvas {
  position: absolute;
}

.loginPage {
  display: flex;
  align-items: center;
  justify-content: center;  
  width: 1024px;
  height: 768px;
  /* min-width: 100px; */
  min-height: 768px;
  border: 1px solid white;
  margin: auto;
  flex-direction: column;
  overflow: hidden;
}

.center {
  /* flex:1; */
  /* width: 1500px; */
  /* width: 502px; */
  /* TODO: 원래 픽셀 503 */
  /* height: 727px; */
  
  flex: 1;
  border: 1px solid white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 498px;
  height: 726px;
  overflow-y: scroll;
}

.chatting {
  width: 480px;
  height: 720px;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
  /* border: 1px solid white; */
  /* overflow-y: scroll; */
}

.makeChattingRoom {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #4a4a4a;
  width: 5px;
  height: 253px;
}

.form-container {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  margin: 0 5px;
  /* justify-content: center; */
  flex: 1;
  padding-bottom: 20px;
  width : 140px;
}

.form-group {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.find-profile {
  width: 480px;
  height: 720px;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
  /* overflow-y: scroll; */
  padding-bottom: 10px;
  margin: 10px; /* 모든 방향(상, 하, 좌, 우)에 10px의 간격 설정 */
}

.find-profile h1 {
  margin-bottom: 20px; /* 하단에 20px의 간격 추가 */
}

.find-profile form label {
  margin-bottom: 5px; /* 하단에 5px의 간격 추가 */
}

.find-profile form input[type="text"] {
  margin-bottom: 10px; /* 하단에 10px의 간격 추가 */
}

.find-profile form button {
  margin-top: 10px; /* 상단에 10px의 간격 추가 */
}

/* GAME */

.container {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 500px;
  /* background-color: black; */
	/* height: 72 7px; */
}

.game{
	position: relative;
  flex: 1;
	display: flex;
	width: 500px;
  height: 727px;
  overflow: hidden;
}

#heading {
	text-align: center;
	/* font-size: 48px; */
}

#canvas {
	margin-top: 10px;
	/* background-color: black; */
}

#message {
	position: absolute;
	top: 50%;
	left: 50%;
	/* color: white; */
	transform: translate(-50%, -50%);
	font-size: 12px;
}

#startBtn {
	position: absolute;
	top: 50%;
	left: 50%;
	font-size: 20px;
	transform: translate(-50%, -50%);
	background-color: white;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 10px 20px;
	color: black;
}

#startBtn:hover {
	filter: brightness(0.8);
}

.topNav {
  font-size: 20px;
  color: white;
}

.chatting-management {
  width: 480px;
  height: 720px;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
  /* overflow-y: scroll; */
}

.ranking {
  width: 480px;
  height: 720px;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
  /* overflow-y: scroll; */
}

.myPage {
  width: 480px;
  height: 720px;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
  /* overflow-y: scroll; */
  padding-bottom: 10px;
}

.myPage h2 {
  margin-bottom: 20px; /* 하단에 20px의 간격 추가 */
}

.myPage img {
  margin: 0 10px; /* 좌우에 10px의 간격 설정, 상하에는 간격이 없도록 설정 */
}

.myPage form label {
  margin-bottom: 5px; /* 하단에 5px의 간격 추가 */
}

.myPage form input[type="text"],
.myPage form input[type="checkbox"],
.myPage form input[type="email"] {
  /* 입력 요소의 간격 설정 */
  margin-bottom: 10px; /* 하단에 10px의 간격 추가 */
}

.myPage form button {
  /* 버튼 요소의 간격 설정 */
  margin-top: 10px; /* 상단에 10px의 간격 추가 */
}

.friend-menu-container {
  width: 480px;
  height: 720px;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
  /* overflow-y: scroll; */
}

.friend-menu-container ul, 
.friend-menu-container li {
  align-items: center;
  margin-bottom: 10px;
  /* flex-direction: column; */
  margin: 0 10px;
}

.friend-menu-container-elem {
  display: flex;
  margin-bottom: 10px;
}
.friend-menu-container-elem {
  display: flex;
  align-items: center;
  margin: 5px; 
}

.friend-menu-container-elem a,
.friend-menu-container-elem button {
  margin: 0 5px; 
}

.banPage {
  width: 480px;
  height: 720px;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
  /* overflow-y: scroll; */
}
