* {
	font-family: 'Cassiopeia';
	color: white;
  }

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: black;
	/* color: black; */
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	font-family: 'Cassiopeia', sans-serif;
}

.container {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 500px;
	height: 727px;
}

.game{
	position: relative;
	
}

#heading {
	text-align: center;
	font-size: 48px;
}

#canvas {
	margin-top: 10px;
	background-color: black;
}

#message {
	position: absolute;
	top: 50%;
	left: 50%;
	color: white;
	transform: translate(-50%, -50%);
	font-size: 20px;
}

#startBtn {
	position: absolute;
	top: 50%;
	left: 50%;
	font-size: 20px;
	transform: translate(-50%, -50%);
	background-color: white;
	border: none;
	outline: none;
	cursor: pointer;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	padding: 10px 20px;
	color: black;
}

#startBtn:hover {
	filter: brightness(0.8);
}