body {
  background-color: aquamarine;
  display:flex;
  flex-direction: row;
    justify-content: center;
    align-items: center;
}

.app {
    background-color: #010101;
    height: 768px;
    width: 1024px;
    /* display: flex; */
    /* flex-direction: row; */
    /* justify-content: center; */
    /* align-items: center; */
  }
  
  .app .right {
    background-image: url(./image.png);
    background-size: 100% 100%;
    height: 726px;
    left: 764px;
    position: relative;
    top: 42px;
    width: 260px;
  }

  .app .nav {
    border: 1px solid;
    border-color: #ffffff;
    height: 42px;
    left: 0;
    position: relative;
    top: 0;
    width: 1024px;
  }
  
  .app .div-wrapper {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    left: 714px;
    position: absolute;
    top: 5px;
  }
  
  .app .text-wrapper {
    color: #a0a0a0;
    font-family: "Noto Sans KR-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    height: 32px;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    text-align: center;
    width: 140px;
  }
  
  .app .frame-2 {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    left: 854px;
    position: absolute;
    top: 5px;
  }
  
  .app .image-wrapper {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 10px;
    justify-content: center;
    position: relative;
  }
  
  .app .image {
    height: 30px;
    position: relative;
    width: 30px;
  }
  
  .app .left {
    background-color: #010101;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: #ffffff;
    border-left-style: solid;
    border-left-width: 1px;
    border-right-style: solid;
    border-right-width: 1px;
    height: 726px;
    left: 0;
    position: relative;
    top: 42px;
    width: 260px;
  }
  
  .app .frame-3 {
    align-items: flex-start;
    display: inline-flex;
    flex-direction: column;
    gap: 10px;
    left: 39px;
    position: relative;
    top: 27px;
  }
  
  .app .frame-4 {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 10px;
    position: relative;
  }
  
  .app .text-wrapper-2 {
    color: #ffffff;
    font-family: "Noto Sans KR-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    height: 40px;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    text-align: center;
    width: 180px;
  }
  
  .app .game {
    height: 724px;
    left: 260px;
    object-fit: cover;
    position: relative;
    top: 42px;
    width: 504px;
  }
  